<html>
  <head>
    <meta charset="utf-8" />
    <title>Payment Confirmation for Your Nosh Order</title>
  </head>
  <body>
    <div style="display: flex; justify-content: center; align-items: center">
      <img
        style="width: 120px; height: 120px; border-radius: 40%"
        src="https://res.cloudinary.com/dp6ofrbni/image/upload/v1681933499/WhatsApp_Image_2023-04-17_at_7.41.55_PM_eom1cl.jpg"
        alt="Nosh Application Icon"
      />

      <div style="margin-left: 10px">
        <p style="color: #dd6b20; font-size: 25px">Nosh</p>
        <p
          style="
            color: #dd6b20;
            font-size: 10px;
            font-family: 'Sassy Frass', cursive;
          "
        >
          The Authentic Food
        </p>
      </div>
    </div>

    <p>Dear {{name}},</p>

    <p>We are writing to confirm that your payment for your recent order on Nosh
      has been received.</p>

    <p>Thank you for using our platform to order food! Your order will be
      prepared and delivered to you shortly. If you have any questions or
      concerns about your order, please feel free to contact us.</p>

    <p>We hope you enjoy your meal and we appreciate your business.</p>

    <p>Best regards,</p>
    <p>The Nosh Team</p>
  </body>
</html>